h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
	font-family: $font__main-heading;
	margin: 0;
	color: #fff;
	font-size: 120px;
	line-height: 0.6;
}

h2, h3, h4, h5, h6 {
	font-family: $font__heading;
}

.home-title {
	position: absolute;
	bottom: 0;
	left: 4%;
}
