button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 3px solid;
	border-color: $color__blue;
	border-radius: 3px;
	background: $color__background-button;
	@include font-size(1.25);
	line-height: 1;
	padding: .4em 1em;
	color: $color__blue;

	&:hover {
		border-color: $color__border-button-hover;
		cursor: pointer;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
