/**
 * Shop tables
 */
table.shop_table_responsive {
	border: 1px solid #222;
	padding: 20px;
	border-radius: 10px;

	thead {
		display: none;
	}

	tbody {
		th {
			display: none;
		}
	}

	tr {
		td {
			display: block;
			text-align: right;
			clear: both;

			&:before {
				content: attr(data-title) ': ';
				float: left;
			}

			&.product-remove {
				a {
					text-align: left;
					padding: 5px 10px;
					border: 1px solid red;
					border-radius: 50%;
					color: red;
					text-decoration: none;
					margin-right: 10px;
				}

				&:before {
					display: none;
				}
			}

			&.actions,
			&.download-actions {
				&:before {
					display: none;
				}
			}

			&.download-actions {
				.button {
					display: block;
					text-align: center;
				}
			}
		}
	}
}

@media screen and (min-width: 48em) {
	table.shop_table_responsive {
		thead {
			display: table-header-group;
		}

		tbody {
			th {
				display: table-cell;
			}
		}

		tr {
			th, td {
				text-align: center;
			}

			td {
				display: table-cell;
              padding: 0 5px;

				&:before {
					display: none;
				}
			}
		}
	}
}
